In [1]:
pwd

'/Users/jwelzbacher/Desktop/django-practice/Golf_League/golf_league'

In [40]:
import csv
import openpyxl
import pandas as pd

#Open the file
df = pd.read_csv('2020 HANDICAP WORKSHEET/Players-Scores-Handicaps.csv',encoding='utf-8')

In [240]:
df

,full_name,id,initial_handicap,team_name,Handicap,Week 1,Week 2,Week 3,Week 4,Week 5,...,Week 12,Week 13,Week 14,Week 15,Week 16,Week 17,Week 18,Week 19,Week 20,Week 21
0,MATT WARCHOL,1,11,BANK OF O'FALLON II,NaN,37.0,NaN,NaN,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STEVE WARCHOL,2,8,BANK OF O'FALLON II,NaN,38.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ART STUTSMAN,3,2,BANK OF O'FALLON II,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BRAD JACKSON,4,8,BANK OF O'FALLON II,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MATT ROEWE,5,7,BANK OF O'FALLON II,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,KYLE ROGIER,219,6,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,MIKE WELSCH,220,3,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,RANDY HETTENHAUSEN,221,14,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,JOE WATKINS,222,6,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,JOE DRESSLER,223,11,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:
def scores_to_list(df):
    scores = df.iloc[:, 5:]
    return scores.values.tolist()

In [256]:
my_lists = scores_to_list(df)
results = []
for lst in my_lists:
    for x in lst:  
        results.append(x)
    # Or without inner loop
    # results.extend(lst)

In [257]:
scores = scores_to_list(df)[:5]

In [34]:
#csv.reader
csv_data = csv.reader(data)

In [35]:
# reformat into a python obj (list of lists)

data_lines= list(csv_data)

In [41]:
df

,full_name,id,initial_handicap,team_name,Handicap,Week 1,Week 2,Week 3,Week 4,Week 5,...,Week 12,Week 13,Week 14,Week 15,Week 16,Week 17,Week 18,Week 19,Week 20,Week 21
0,MATT WARCHOL,1,11,BANK OF O'FALLON II,NaN,37.0,NaN,NaN,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STEVE WARCHOL,2,8,BANK OF O'FALLON II,NaN,38.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ART STUTSMAN,3,2,BANK OF O'FALLON II,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BRAD JACKSON,4,8,BANK OF O'FALLON II,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MATT ROEWE,5,7,BANK OF O'FALLON II,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,KYLE ROGIER,219,6,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,MIKE WELSCH,220,3,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,RANDY HETTENHAUSEN,221,14,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,JOE WATKINS,222,6,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,JOE DRESSLER,223,11,LARSONALLEN LLP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
for row in df[:5]:
    total = total()
    print(total)

0      311.0
1       38.0
2        0.0
3        0.0
4        0.0
       ...
218      0.0
219      0.0
220      0.0
221      0.0
222      0.0
Length: 223, dtype: float64

TypeError: 'Series' object is not callable

In [24]:
data_lines[1][2]

'11'

In [28]:
i_handicap = []

In [29]:
for line in data_lines[1:]:
    i_handicap.append(line[2])

In [38]:
i_handicap[0]

'11'

In [244]:
class Handicap():
    #docstring for handicap
    def __init__(self,scores):
        self.scores = scores
        self.handicap = 0

    def h_total(self):
        # initializing K  
        K = 5
        # Inverse K slice Sum 
        # using list slicing + sum() 
        res = sum(self.scores[-K:]) 
        #round the handicap
        self.handicap = float((res/5)-36)
        return self.handicap

In [253]:
def handicap_calc(scores):
        # initializing K  
        K = 5
        # Inverse K slice Sum 
        # using list slicing + sum() 
        res = sum(scores[-K:]) 
        #handicap as a float, round before you write row
        return float((res/5)-36)

In [ ]:
def itertuples_impl(df):
    return pd.Series(
    handicap_calc(
      row.)
    for row in df.itertuples()
  )

In [246]:
def hand(df):
    for row in df[1:]:
        tot = total()
        calc_h = Handicap.h_total(tot)
        csv_writer.df['Handicap']= calc_h

In [247]:
new_list = [37,50,46,46,39,39,40,42,41]

In [251]:
h_cap = Handicap(new_list)
round(h_cap.h_total())

4

In [249]:
for l in scores:
    handicap = Handicap(l)
    new_handicap = handicap.h_total()
    with open('MODIFIED.csv', 'wb') as new_csv:
        csv_writer = csv.writer(new_handicap)
        for i, row in enumerate(csv_reader):
            if i != 0:
                csv_writer.writerow(row)

TypeError: argument 1 must have a "write" method

In [241]:
handicap.h_total()

ValueError: cannot convert float NaN to integer

In [ ]:
import csv

with open('2020 HANDICAP WORKSHEET/Players-Scores-Handicaps.csv', 'rb') as old_csv:
    csv_reader = csv.reader(old_csv)
    with open('MODIFIED.csv', 'wb') as new_csv:
        csv_writer = csv.writer(new_csv)
        for i, row in enumerate(csv_reader):
            if i != 0:
                row.append(float(row[10]) / float(row[37]))
                csv_writer.writerow(row)